<img class="portfolio" src="assets/images/challenge.png">
<h1>Profile  </h1>

  <div class="icon-bar">
   <a [routerLink] = "['/aboutMe']" routerLinkActive="active"> <i class="fa fa-user-circle fa-lg"></i></a>
   <a [routerLink] = "['/contactInfo']" routerLinkActive="active"><i class="fa fa-envelope fa-lg"></i></a>
   <a [routerLink] = "['/contactInfo']" routerLinkActive="active"><i class="fa fa-linkedin fa-lg"></i></a>
   <a [routerLink] = "['/contactInfo']" routerLinkActive="active"><i class="fa fa-github fa-lg" routerLinkActive="active"></i></a>
  </div>
