/*==========  Keyframes Declarations  ==========*/
/*Each block contains rule sets called keyframes. A keyframe
defines the style that will be applied for that moment within the animation.
The animation engine will smoothly interpolate style between the keyframes.*/

/*=======================================================*/
/*Spinner -
will rotate the icon and grow it double its size when hovered upon
Set up the spinner function*/

@mixin spinner(){
  animation-name: spin;
    animation-duration: 5s;
  //  animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Set up the spinner keyframe ruleset called spin*/
@keyframes spin {
    from {transform:scale(1) rotate(0deg);}
    to {transform:scale(2) rotate(360deg);}

}
/*=======================================================*/

/*MoveAround -
will expand the background by changing the color
Set up the moveAround function*/

@mixin moveAround(){
animation: bubble 1.0s forwards;
-webkit-animation: bubble 1.0s forwards; /* for less modern browsers */
}

/* Set up the moveAround keyframe ruleset called mymove*/
@keyframes mymove {
  0%   {top: 0px; background: red; width: 100px;}
  100% {top: 50px; background: yellow; width: auto;}
}

/*=======================================================*/

@keyframes bubble {
    0%   { transform:scale(0.5); opacity:0.0; }
    50%  { transform:scale(1.2); opacity:0.5; }
    100% { transform:scale(1.0); opacity:1.0; }
}



@mixin shakeup(){
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@mixin expand(){
  animation: stretch 5s ease-out;
  -webkit-animation: stretch 5s ease-out;
}


@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
  }
  100% {
    transform: scale(1.5);
    background-color: yellow;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
