@import 'variables';
@import 'mixins';

.icon-bar {
  margin: 0 auto;
  width: auto; /* Set a specific width */
}

.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 30px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    font-size: 40px; /* Increased font-size */
    margin-bottom:5px;
    color: navy;

}
i {
  border-color: stroke-orange;

}
.icon-bar a:hover {
@include spinner();
}

.active {
 //background-color: red; /* Add an active/current color */
   i
   {
     color:#0074D9;;
     transform:scale(1.5);
   }
}

img.portfolio {
    height: 20vw;
}


.navigation{
background-color:$var_navi_bkgdColor;
}
