/*==========  Header Footer Variables  ==========*/
$var_headerFooterColor:#0099cc;
$var_headerFooterTextColor:#ffff;
$var_headerFooterTextSize:22px;

/*==========  Body Styling Variables  ==========*/
$var_Body_fontSize:16px;
$var_Body_lineHeight:1.5;
$var_Body_fontFamily: Courier, Courier, sans-serif;

/*==========  navigation Styling Variables  ==========*/
$var_navi_bkgdColor:lavender;
